@import "https://mui.kernelsu.org/internal/insets.css";
@import "https://mui.kernelsu.org/internal/colors.css";
@import "tailwindcss";

@import "./css/theme.css";
@import "./css/base.css";
@import "./css/components.css";
@import "./css/utilities.css";
