@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: var(--primary);
    --color-on-primary: var(--onPrimary);
    --color-primary-container: var(--primaryContainer);
    --color-on-primary-container: var(--onPrimaryContainer);

    --color-secondary: var(--secondary);
    --color-on-secondary: var(--onSecondary);
    --color-secondary-container: var(--secondaryContainer);

    --color-tertiary: var(--tertiary);
    --color-on-tertiary: var(--onTertiary);
    --color-tertiary-container: var(--tertiaryContainer);

    --color-background: var(--background);
    --color-on-background: var(--onBackground);

    --color-surface: var(--surface);
    --color-on-surface: var(--onSurface);

    --color-surface-container: var(--surfaceContainer);
    --color-surface-container-high: var(--surfaceContainerHigh);

    --color-surface-variant: var(--surfaceVariant);
    --color-on-surface-variant: var(--onSurfaceVariant);

    --color-outline: var(--outline);
    --color-outline-variant: var(--outlineVariant);

    --image-brand-gradient: var(--brand-gradient);
}

:root {

    --primary: #ff914d;
    --onPrimary: #481a00;
    --primaryContainer: #692600;
    --onPrimaryContainer: #ffdbcc;
    --secondary: #ffcf40;
    --onSecondary: #412d00;
    --secondaryContainer: #5d4200;
    --tertiary: #eec193;
    --onTertiary: #462a0b;
    --tertiaryContainer: #60401f;
    --background: #120d0a;
    --onBackground: #ede0db;
    --surface: #120d0a;
    --surfaceContainer: #1f1612;
    --surfaceContainerHigh: #2a201a;
    --surfaceVariant: #5e4d48;
    --onSurfaceVariant: #d7c1be;
    --onSurface: #ede0db;
    --outline: #a08c87;
    --outlineVariant: #53433f;
    --error: #ba1a1a;
    --brand-gradient: linear-gradient(135deg, #ff914d 0%, #ffcf40 100%);
}

[data-theme="light"] {
    --primary: #a04010;
    --onPrimary: #ffffff;
    --primaryContainer: #ffdbcc;
    --onPrimaryContainer: #351000;
    --secondary: #77574e;
    --onSecondary: #ffffff;
    --secondaryContainer: #ffdbd1;
    --tertiary: #685f12;
    --onTertiary: #ffffff;
    --tertiaryContainer: #f1e48e;
    --background: #f5eeec;
    --onBackground: #231a18;
    --surface: #f5eeec;
    --surfaceContainer: #ffffff;
    --surfaceContainerHigh: #fbf5f4;
    --surfaceVariant: #4a3832;
    --onSurfaceVariant: #53433f;
    --onSurface: #231a18;
    --outline: #85736e;
    --outlineVariant: #d8c2bc;
    --error: #ba1a1a;
    --brand-gradient: linear-gradient(135deg, #a04010 0%, #d48256 100%);
}

:root {
    background-color: var(--surface);
    color: var(--onSurface);
}

.text-gradient {
    background: var(--image-brand-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.view-section {
    @apply transition-opacity duration-200 ease-in-out;
}

.view-section.hidden {
    @apply hidden opacity-0;
}