[target.aarch64-linux-android]
ar = "/opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android-ar"
linker = "/opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android29-clang"

rustflags = [
    "-C",
    "target-cpu=generic",
    "-C",
    "target-feature=+neon,+crc",
    "-C",
    "link-arg=-fuse-ld=lld",
    "-C",
    "link-arg=-Wl,--icf=all",
    "-C",
    "link-arg=-Wl,-O3",
    "-C",
    "link-arg=-Wl,--gc-sections",
    "-C",
    "link-arg=-Wl,--strip-all",
    "-C",
    "link-arg=-Wl,--as-needed",
    "-C",
    "embed-bitcode=yes",
    "-C",
    "llvm-args=-enable-machine-outliner",
    "-C",
    "llvm-args=-pgo-warn-missing-function",
]

[target.armv7-linux-androideabi]
ar = "/opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/arm-linux-androideabi-ar"
linker = "/opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi29-clang"

rustflags = [
    "-C",
    "target-cpu=generic",
    "-C",
    "link-arg=-fuse-ld=lld",
    "-C",
    "link-arg=-Wl,--icf=all",
    "-C",
    "link-arg=-Wl,-O3",
    "-C",
    "link-arg=-Wl,--gc-sections",
    "-C",
    "link-arg=-Wl,--strip-all",
    "-C",
    "link-arg=-Wl,--as-needed",
]

[target.x86_64-linux-android]
ar = "/opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android-ar"
linker = "/opt/android-ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android29-clang"

rustflags = [
    "-C",
    "target-cpu=x86-64",
    "-C",
    "link-arg=-fuse-ld=lld",
    "-C",
    "link-arg=-Wl,--icf=all",
    "-C",
    "link-arg=-Wl,-O3",
    "-C",
    "link-arg=-Wl,--gc-sections",
    "-C",
    "link-arg=-Wl,--strip-all",
    "-C",
    "link-arg=-Wl,--as-needed",
]

[build]
target = "aarch64-linux-android"
