name: Build Auriya
permissions:
  contents: read

on:
  push:
    branches: ["main"]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Start Timer
      run: date +%s > build_start_time

    - name: Notify Build Start
      if: ${{ env.BOT_TOKEN != '' }}
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      uses: ./.github/actions/telegram-notify
      with:
        bot_token: ${{ secrets.BOT_TOKEN }}
        chat_id: ${{ secrets.CHAT_ID }}
        type: start

    - name: Setup Build Environment
      uses: ./.github/actions/setup-tools

    - name: Build WebUI
      working-directory: ./webui
      run: |
        bun install
        bun run build

    - name: Build Rust Binary
      run: |
        sed -i '/ar =/d' .cargo/config.toml
        sed -i '/linker =/d' .cargo/config.toml
        cargo ndk -t aarch64-linux-android --platform 26 -- build --release
        ${ANDROID_NDK_HOME}/toolchains/llvm/prebuilt/linux-x86_64/bin/llvm-strip target/aarch64-linux-android/release/auriya

    - name: Package Module
      id: package
      uses: ./.github/actions/package-module

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: auriya-module
        path: build/release/*.zip
        compression-level: 0  

    - name: Notify Build Complete
      if: ${{ env.BOT_TOKEN != '' }}
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      uses: ./.github/actions/telegram-notify
      with:
        bot_token: ${{ secrets.BOT_TOKEN }}
        chat_id: ${{ secrets.CHAT_ID }}
        type: complete
        zip_file: build/release/${{ steps.package.outputs.zip_name }}
